/* ELECCION DE PALETA DE COLORES! /*
 /* Color Theme Swatches in Hex */
.The-Black-and-Red-1-hex {
  color: #2A8C82;
}

.The-Black-and-Red-2-hex {
  color: #41BFB3;
}

.The-Black-and-Red-3-hex {
  color: #91F2E9;
}

.The-Black-and-Red-4-hex {
  color: #275950;
}

.The-Black-and-Red-5-hex {
  color: #260101;
}

/* Color Theme Swatches in RGBA */
.The-Black-and-Red-1-rgba {
  color: rgba(42, 140, 130, 1);
}

.The-Black-and-Red-2-rgba {
  color: rgba(65, 191, 178, 1);
}

.The-Black-and-Red-3-rgba {
  color: rgba(145, 242, 232, 1);
}

.The-Black-and-Red-4-rgba {
  color: rgba(39, 89, 80, 1);
}

.The-Black-and-Red-5-rgba {
  color: rgba(38, 0, 0, 1);
}

/* Color Theme Swatches in HSLA */
.The-Black-and-Red-1-hsla {
  color: hsla(174, 53, 35, 1);
}

.The-Black-and-Red-2-hsla {
  color: hsla(174, 49, 50, 1);
}

.The-Black-and-Red-3-hsla {
  color: hsla(174, 79, 76, 1);
}

.The-Black-and-Red-4-hsla {
  color: hsla(168, 38, 25, 1);
}

.The-Black-and-Red-5-hsla {
  color: hsla(0, 96, 7, 1);
}

/*Pagina INICIO-----------------------------------------------------------------------------------------------------------------*/


* { /*universal-a toda la pagina*/
   padding: 0%;
    margin: 0%; 
    box-sizing: border-box; 
    font-family: fantasy, papyrus;
     background-color: aqua; 
     color: hsla(0, 96, 7, 1); 
     padding: 10px;
   
p {
  /*logo PEDALEA CONMIGO */
  font-size: 30;
  font-family: monospace;

}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  background-color: #333;
  color: black;
  padding: 15px;

}


nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 10;
  color: black;
}


nav ul li {
  margin: 0 15px;
}
nav ul li:hover{
  transform: scale(1.50)
}
nav a {
  color: black;
  text-decoration: none;
}

/* INICIO - CONSEJOS -------------------- ----------------------------------------------------------------------------*/
.seccion-consejos{
  background-color: #333;
  padding: 20px;
  text-align: center;
  margin-top: 40px;
  border-radius:0;
  margin: 20px;
}

.seccion-consejos h2 {
  color: black;
  font-size: 28px;
  letter-spacing: 2px;
}


.texto-consejos {
  margin: 25px 10px;
  line-height: 1.6;
}

.texto-consejos h3 {
  margin-top: 20px;
  color: black;
  font-size: 22px;
}

.texto-consejos p {
  color: #2e2e2e;
  margin-bottom: 10px;
}

/*Pagina ARTICULOS--------------------------------------------------------------------------------------------------------------*/
.contenedor{
display: flex;
flex-direction: unset;
justify-content: space-around;
flex-wrap: wrap;
margin: 30px;
gap: 20px;
}
.columna{
width: 30%;
text-align: center;
padding: 15px;
}
.columna:hover{
  transform: scale(1.03)
}
.columna img{
  width: 100%;
  height: 80%;
}
.columna h2 {
      color: black;
      margin: 20px 0 10px;
    }

    .columna p {
      color:#2e2e2e;
     
    }
    .columna h3{
      color:#2e2e2e;
      font-style: italic;
    }
/*Pagina FORMULARIO--------------------------------------------------------------------------------------------------------------*/


.contacto {
  display: flex;
  justify-content: center;
  align-items: stretch;
  min-height: 100vh;
  padding: 40px;
  gap: 40px;
}

form {
  width: 50%;
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  padding: 20px;
  gap: 10px;
  justify-content: center;
  margin: 0 auto;
}

.info-contacto {
  flex: 1;
  background-color: #2e2e2e;
  color: black;
  padding: 40px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.info-contacto:hover{
  transform: scale(1.03)
}

.redes {
  display: flex;
  gap: 15px;
  margin-top: 20px;
}

.redes img {
  width: 40px;
  height: 40px;

 
}

.redes img:hover {
  filter: none;
}



/*Pagina CARRUSEL--------------------------------------------------------------------------------------------------------------*/

.carrusel{
  position: relative;
 width: 100%;
  margin: 0;
}
.carrusel img{
width:100%;/*ANCHO*/
height:400% ;/*ALTO*/
border: 3px solid #333; /*COLOR BORDE*/
object-fit: cover; /*ajusta la imagen*/
border-radius: 8px;

}

.btn-lateral {
  position: absolute;
  top: 50%;
  transform: translateY(-50%); 
  background-color: rgba(0,0,0,0.5);
  color: black;
  border: none;
  padding: 12px 18px;
  font-size: 22px;
  cursor: pointer;
  border-radius: 50%;
  transition: 0.3s ease;
}

.izquierda {
  left: 15px;
}

.derecha {
  right: 15px;
}
.btn-lateral:hover {
  background-color: #333;
  transform: translateY(-50%) scale(1.1);
}