/* ELECCION DE PALETA DE COLORES! /*
 /* Color Theme Swatches in Hex */
.The-Black-and-Red-1-hex {
  color: #2A8C82;
}

.The-Black-and-Red-2-hex {
  color: #41BFB3;
}

.The-Black-and-Red-3-hex {
  color: #91F2E9;
}

.The-Black-and-Red-4-hex {
  color: #275950;
}

.The-Black-and-Red-5-hex {
  color: #260101;
}

/* Color Theme Swatches in RGBA */
.The-Black-and-Red-1-rgba {
  color: rgba(42, 140, 130, 1);
}

.The-Black-and-Red-2-rgba {
  color: rgba(65, 191, 178, 1);
}

.The-Black-and-Red-3-rgba {
  color: rgba(145, 242, 232, 1);
}

.The-Black-and-Red-4-rgba {
  color: rgba(39, 89, 80, 1);
}

.The-Black-and-Red-5-rgba {
  color: rgba(38, 0, 0, 1);
}

/* Color Theme Swatches in HSLA */
.The-Black-and-Red-1-hsla {
  color: hsla(174, 53, 35, 1);
}

.The-Black-and-Red-2-hsla {
  color: hsla(174, 49, 50, 1);
}

.The-Black-and-Red-3-hsla {
  color: hsla(174, 79, 76, 1);
}

.The-Black-and-Red-4-hsla {
  color: hsla(168, 38, 25, 1);
}

.The-Black-and-Red-5-hsla {
  color: hsla(0, 96, 7, 1);
}

/*Pagina INICIO-----------------------------------------------------------------------------------------------------------------*/
* {
  /*universal-a toda la pagina*/
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  background-color: aqua;
  color: hsla(0, 96, 7, 1);
  font-family: fantasy, papyrus;
  

p {
  /*logo PEDALEA CONMIGO */
  font-size: 30;
  font-family: monospace;

}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  background-color: #333;
  color: black;
  padding: 15px;

}

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 10;
  color: black;
}

nav ul li {
  margin: 0 15px;
}

nav a {
  color: black;
  text-decoration: none;
}



/*Pagina ARTICULOS--------------------------------------------------------------------------------------------------------------*/
.contenedor{

}
.columna{

}

/*Pagina CONTACTO--------------------------------------------------------------------------------------------------------------*/
.contacto {
  display: flex;
  justify-content: center;
  align-items: stretch;
  min-height: 100vh;
  padding: 40px;
  gap: 40px;
}

form {
  width: 50%;
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  padding: 20px;
  gap: 10px;
  justify-content: center;
  margin: 0 auto;
}

.info-contacto {
  flex: 1;
  background-color: #2e2e2e;
  color: black;
  padding: 40px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.info-contacto hr {
  border: 0.5px solid #555;
}

.redes {
  display: flex;
  gap: 15px;
  margin-top: 20px;
}

.redes img {
  width: 25px;
  height: 25px;
  filter: grayscale(1) brightness(0.8);
  transition: 0.3s;
}

.redes img:hover {
  filter: none;
}